
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: rgb(46, 45, 45)2d;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #34495e;
    padding: 10px 0;
  }
  
  nav a {
    color: #ecf0f1;
    text-decoration: none;
  }
  
  section {
    padding: 20px 0;
  }
  
  footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 0;
  }
  